
.body{
	margin: 0;
	padding: 0;
}



.container{
    width: 35%;
    margin: auto;
    border: 1px solid green;
    background: #264673;
    padding: 2%;
}

.custom-form {
    width: 80%;
    height: 500px;
    margin: auto;
    padding: 5%;
    border: 1px solid black;
    background-color: white;
    border-top: 4px solid #96d710;
}

.contact
 {
    width: 95%;
    height: 43px;
    color: #264673;
    font-family: verdana;
    margin: auto;
    font-size: 15px;
   background: url(../images/plus.png) no-repeat 275px 5px;

}


.subject {
    width: 95%;
    height: 43px;
    font-size: 15px;
    font-family: verdana;
    background:#e9f0f8;
}

.message {

    background:#e9f0f8;
    width:95% ;
    height: 90px; 
    


}
.bar-image{
	border-top: 1px solid grey;
	width: 96%;
	border-right:1px solid grey;
	border-left: 1px solid grey;

}


.head {
    color: #264673;
    font-family: sans-serif;
}


.btn1 {
    width: 35%;
     font-family: verdana;
    height: 50px;
    font-size: 15px;
    margin-top: 20px;
    text-align: center;
    color: white;

}




.btn2 {
    width: 50%;
    height: 51px;
    font-size: 15px;
    color:white;
    font-family: verdana;
    margin-left: 25px;
    
   
}
.image {
	width:50px;
	height: 48px;
	padding: 0px;
}


.btn-group button {
    
    color: white; 
    
    cursor: pointer; 
    float: left; 
    height: 50px;
    margin-top: 35px;
    margin-right: 0px;
    font-size: 15px;
    border: 0px;

  }
  .flaot-left{
  	float: left;
  }

  .float-right{
  	float: right;
  }

.btn-group button:not(:last-child) {
    border-right: none; /* Prevent double borders */
}

/* Clear floats (clearfix hack) */
.btn-group:after {
    content: "";
    clear: both;
}



.no-padding {
	padding: 0 !important;
	float: right;
	background:#62b8ea;
}

.blue-button{
	background:#62b8ea;
}

.silver-button{
	background:#dde5ee;
}


